@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');

/* common style */
* {
    box-sizing: border-box;
}

/* body 선택자에 기본 폰트크기와 글꼴을 넣어주세요 */
body {
    font-size: 18px;
}

/* 추가 reset사항이 있으면 아래에 적어주세요. */
a {
    color: inherit;
    text-decoration: none;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}


/* 폰트 */
@font-face {
    font-family: 'Ycomputer-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ycomputer-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }