@import url(gamemap.css);

/* 게임 플레이 화면 */
.play-ground {
    width: 70%;
    height: 700px;
    background: #000;
    position: relative;
    margin: 100px auto;

    border-radius: 10px;
}

/* 캐릭터 아이콘 주변의 불필요한 공백 제거 */
#bobby {
    background: url(../img/icon/bobby01.png) no-repeat center / 100px 100px;
    width: 50px;
    height: 50px;
    transform: scaleX(-1);
    
    position: absolute;
    top: 650px;
    left: 50px;   

    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.5, 0.75, 0.95);
    transition-property: top;
}

/* 물방울 */
.bubble {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(../img/icon/bubble.jpg) no-repeat center / cover;
}