@import url(common.css);

/* 게임 플레이 화면 */
.play-ground {
    width: 70%;
    min-width: 1100px;
    height: 700px;
    background: #000;
    position: relative;
    margin: 100px auto;

    border-radius: 10px;
}

/* 상단 스코어 */
.header .score{
    width: 680px;
    height: 50px;
    margin: 0 auto;

    line-height: 27px;

    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
.header .score li{
    width: 290px;
    padding: 10px 100px 10px 0;

    font-size: 1.2em;
    font-weight: 50px;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);

    display: inline-block;
    white-space: nowrap;
}
.header .score li:first-child{
    color: #1eff00;
}
.header .score li:last-child{
    color: #ff1515;
}
 
/* 콘텐츠 메인 */

.sidewall {
    width: 100%;
    height: 650px;
    list-style: none;

    display: flex;
    justify-content: space-between;
   
    
}

.sidewall li{
    width: 50px;

    background: url("../img/icon/wall.png") center/50px;
    z-index: 999;
}



/* 벽돌 바닥 */
.gameroad {
    list-style: none;

    display: flex;
    flex-direction: column-reverse;
}

.fir-floor {
    width: 100%;
    height: 45px;
    background: url("../img/icon/wall.png") center/50px;
}

#onthefloor {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    
}

#onthefloor li {
    width: 100%;
    height: 45px;
    background: url("../img/icon/wall.png") center/50px;
    
    border: 1px solid #000;
}

.sec-floor {
    position: absolute;
    top: 80%;
}

.thir-floor {
    position: absolute;
    top: 60%;
}

.four-floor {
    position: absolute;
    top: 40%;
}
.top-floor {
    width: 100%;
    height: 50px;
    background: url("../img/icon/wall.png") center/50px;

    position: absolute;
    top: 50px;
    z-index: 9999999;
}