
/* 몬스터 공통사항 - 사이즈 */
.wrap .monster {
  /* height: 50px;
  width: 400px;
  left: 400px; */

  
  background: url(../img/icon/enemy-drunk01.png) no-repeat center / 100px 100px;
  /* background-color: olive;
  width: 50px;
  height: 50px; */
}


.area1{
  position: absolute;
  top: 650px;


  transform: translate(-50%, -50%);
  transition: 1s linear;
}
.area1-2{
  position: absolute;
  top: 650px;
  left: 600px;
 
  transform: translate(-50%, -50%);
  transition: 1s linear;
}

.area2 {
  position: absolute;
  top: 510px;
  /* right: 200px; 안먹힘 */
}
.area3 {
  position: absolute;
  top: 370px;
}
.area4{
  position: absolute;
  top: 230px;
}
/* 차이 140px  */


/* 몬스터 이동 모션
.monsterMove {
  position: absolute;
  top: 0;

  animation: move 1s infinite linear alternate;
} */

/* 애니메이션 효과 만들기 */
/* @keyframes move {
  0% {
  }

  100%{
    transform: translateX(300px);
  }
} */