
.wrap .monster {
  /* background: url(../img/icon/enemy-mighta02-.png) no-repeat center /80px 80px; */
  /* background: url(../img/soon.png) no-repeat center  /cover; */
}
.die {
  animation:  die 1s;
}

@keyframes die {
10% { 
  transform: scale(2.5);
  top:620px ;
}
50%{
  transform: scale(2.5);
  transform: rotate( 180deg );
}
90% {   
top:800px;
transform: scale(0.1);
  }
  100%{
   top:800px;
transform: scale(0);
  }
}


.area1{
  /* 가장빠름 */

  transform: rotate( 180deg );;
  position: absolute;
  top: 670px;

  transform: translate(-50%, -50%);
  transition: 0.5s linear;
}
.area1-2{
  left: 50%;

  position: absolute;
  top: 670px;
 
  transform: translate(-50%, -50%);
  transition: 1s ease-in-out;
}

.area2 { 
  /* 느리게 */
  position: absolute;
  top: 530px;

  transform: translate(-50%, -50%);
  transition: 2s ease-out;
}

/* .area3 {
  position: absolute;
  top: 370px;
}
.area4{
  position: absolute;
  top: 230px;
} */
/* 차이 140px  */


/* 몬스터 이동 모션
.monsterMove {
  position: absolute;
  top: 0;

  animation: move 1s infinite linear alternate;
} */

/* 애니메이션 효과 만들기 */
/* @keyframes move {
  0% {
  }

  100%{
    transform: translateX(300px);
  }
} */