/* 공격범위 */
.attackArea {
  /* background: pink; */
  width: 100%;
  height: 50px;

  position: absolute;
  bottom: 0;


}

/* 캐릭터 */
#bobby {
  background: url(../img/icon/bobby01.png) no-repeat center / 100px 100px;
  width: 50px;
  height: 50px;
  transform: scaleX(-1);

  position: absolute;
  bottom: 0;
}

/* 물풍선 */
.attackArea .waterballoon {
  background: url("../img/icon/enemy-pulpul02.png") no-repeat center / cover;
  /* background-color: aqua; */

  width: 50px;
  height: 50px;

  position: absolute;
  left: 20px;

  z-index: 999;
}


/* 몬스토 */
.wrap .monsterArea {
  height: 50px;
  width: 400px;
  left: 400px;

  
  background: url(../img/icon/enemy-drunk01.png) no-repeat center / 100px 100px;
  /* background-color: olive; */
  width: 50px;
  height: 50px;
}
.area1{
  position: absolute;
  top: 650px;
}

.area2 {
  position: absolute;
  top: 511px;
  right: 200px;
}
.area3 {
  position: absolute;
  top: 372px;
}
.area4{
  position: absolute;
  top: 231px;
}
/* 몬스터 이동 모션 */
.monsterMove {
  position: absolute;
  top: 0;
  z-index: 9999999999999999;

  animation: move 5s infinite linear alternate;
}

/* 애니메이션 효과 만들기 */
@keyframes move {
  0% {
  }

  100% {
    transform: translateX(400px);
  }
}